footer {
  background: #bb2b7896;
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-evenly;
  a {
    margin: auto 10px;
    img {
      height: 4vh;
      &:hover {
        scale: 125%;
        transition: 0.3s;
      }
    }
  }
}
