@font-face {
  font-family: "alice";
  src: url(../fonts/Alice-Regular.ttf);
}
@font-face {
  font-family: "belleza";
  src: url(../fonts/Belleza-Regular.ttf);
}

$font1: alice;
$font2: belleza;
$color1: #bb2b7994;
$color2: #bb2b79;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(250 238 217);
}
h1,
h2,
h3,
h4 {
  font-family: $font2;
}
p {
  font-family: $font1;
}
