.page_anim {
  &::after {
    position: absolute;
    z-index: 100;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/Logo.png) no-repeat 50% 15%, rgb(250 238 217);
    animation: animBefore 1.5s ease forwards;
    animation-delay: 0.15s;
    @keyframes animBefore {
      to {
        opacity: 0;
        height: 300px;
      }
    }
  }
}
.banniere_accueil {
  position: relative;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 20px;
  max-width: 1200px;
  h2 {
    margin: 0;
    background: $color1;
    box-shadow: 0 0 20px 10px $color1;
    width: 70vw;
    max-width: 1000px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.7rem;
    font-weight: bold;
  }
  img {
    height: 28vh;
    width: 100%;
  }
}
.descript_accueil {
  text-align: center;
  margin: 50px auto;
  padding: 0 20px;
  h1 {
    font-size: 2.7rem;
    margin-bottom: 30px;
    color: $color2;
  }
  p {
    margin: 10px auto;
    font-size: 1.5rem;
  }
}
.favorite_accueil {
  text-align: center;
  h3 {
    font-size: 2.7rem;
    color: $color2;
  }
  .carousel_accueil {
    position: relative;
    margin: 20px auto;
    ul {
      display: flex;
      justify-content: center;
      list-style: none;
      height: 400px;
      @media screen and (max-width: 450px) {
        height: 300px;
      }
      li {
        height: 100%;
        // width: 100%;
        position: relative;
        img {
          height: 100%;
        }
        button {
          position: absolute;
          background: none;
          border: none;
          outline: none;
          font-size: 2.6rem;
          z-index: 2;
          cursor: pointer;
          color: $color2;
          transform: translateY(-50%);
          top: 50%;
        }
        #prev {
          right: 180px;
        }
        #next {
          left: 180px;
        }
        @media screen and (max-width: 450px) {
          #prev {
            right: 125px;
          }
          #next {
            left: 125px;
          }
        }
      }
      .slide {
        position: absolute;
        opacity: 0;
        transition: 0.5s ease-in-out;
      }
      .slide.active {
        opacity: 1;
      }
    }
    span {
      position: absolute;
      transform: translate(-50%);
      bottom: 0px;
      cursor: default;
    }
  }
}
