.banniere_accueil {
  position: relative;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 20px;
  max-width: 1200px;
  h2 {
    margin: 0;
    background: $color1;
    box-shadow: 0 0 20px 10px $color1;
    width: 70vw;
    max-width: 1000px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.7rem;
    font-weight: bold;
  }
  img {
    height: 28vh;
    width: 100%;
  }
  // div {
  //   height: 28vh;
  //   width: 100%;
  //   &:nth-child(2) {
  //     background: url(../img/Image_1_accueil.jpg) center/cover;
  //   }
  //   &:nth-child(3) {
  //     background: url(../img/Image_2_accueil.jpg) center/cover;
  //   }
  //   &:nth-child(4) {
  //     background: url(../img/Image_3_accueil.jpg) center/cover;
  //   }
  //   &:nth-child(5) {
  //     background: url(../img/Image_4_accueil.jpg) center/cover;
  //   }
  //   &:nth-child(6) {
  //     background: url(../img/Image_5_accueil.jpg) center/cover;
  //   }
  //   &:nth-child(7) {
  //     background: url(../img/Image_6_accueil.jpg) center/cover;
  //   }
  //   &:nth-child(8) {
  //     background: url(../img/Image_7_accueil.jpg) center/cover;
  //   }
  //   &:nth-child(9) {
  //     background: url(../img/Image_8_accueil.jpg) center/cover;
  //   }
  // }
}
.descript_accueil {
  text-align: center;
  margin: 50px auto;
  h1 {
    font-size: 2.7rem;
    margin-bottom: 30px;
    color: $color2;
  }
  p {
    margin: 10px auto;
    font-size: 1.5rem;
  }
}
.favorite_accueil {
  text-align: center;
  h3 {
    font-size: 2.7rem;
    color: $color2;
  }
  div {
    display: flex;
    justify-content: space-evenly;
    img {
      height: 200px;
      margin: 20px auto;
    }
  }
}
