.Title_container {
  display: grid;
  justify-content: center;
  margin: 20px auto;
  width: 80vw;
  max-width: 700px;
  h1 {
    display: flex;
    margin: 10px 0;
  }
  p {
    display: flex;
  }
}
.Items_container {
  margin: 50px auto;
  width: 80vw;
  max-width: 1200px;
  .Item1_container,
  .Item2_container,
  .Item3_container {
    display: grid;
    // margin: 50px 0;
    // border: 1px solid gray;
    img {
      width: 100%;
      height: 100%;
    }
    .Item1_text,
    .Item2_text,
    .Item3_text {
      display: flex;
      flex-direction: column;
      margin: 50px 15px;
      h2 {
        margin: 0 auto;
      }
      p {
        margin: 10px 0;
      }
      .tests {
        margin-top: 25px;
        display: flex;
        justify-content: space-around;
        .test {
          border: 2px solid black;
          background: green;
          width: 40px;
          height: 40px;
        }
      }
    }
    @media screen and (max-width: 650px) {
      display: block;
      border-top: 1px solid $color2;
      padding: 50px 0 0 0;
    }
  }

  .Item1_container {
    grid-template-columns: 30% 70%;
    .Item1_text {
      li {
        margin-left: 40px;
        list-style: "- ";
        // font-family: $font1;
      }
    }
  }
  .Item2_container {
    grid-template-columns: 70% 30%;
    grid-template-areas: "tx im";
    border-top: 1px solid $color2;
    border-bottom: 1px solid $color2;
    .Item2_pics {
      grid-area: im;
    }
    @media screen and (max-width: 650px) {
      border-bottom: none;
    }
  }
  .Item3_container {
    grid-template-columns: 30% 70%;
    h4 {
      margin: 10px 0;
    }
  }
}
