.Title_container {
  display: grid;
  justify-content: center;
  margin: 20px auto;
  width: 80vw;
  max-width: 700px;
  padding: 10px;
  // background: #bb2b7963;
  border: 1px solid $color2;
  box-shadow: 5px 5px 0px 0px $color2;
  border-radius: 20px;
  h1 {
    display: flex;
    margin: 10px 0;
  }
  p {
    display: flex;
  }
}
.Items_container {
  margin: 50px auto;
  width: 80vw;
  max-width: 1200px;

  .Item1_container,
  .Item2_container,
  .Item3_container {
    display: grid;
    .slide {
      position: absolute;
      opacity: 0;
    }
    .active {
      opacity: 1;
    }
    .Item1_pics,
    .Item2_pics,
    .Item3_pics {
      position: relative;
      ul {
        position: relative;
        height: 100%;
        width: 100%;
        li {
          width: 100%;
          height: 100%;
          list-style: none;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      span {
        position: absolute;
        left: 50%;
        bottom: 0px;
        transform: translate(-50%);
        cursor: default;
      }
    }
    .Item1_text,
    .Item2_text,
    .Item3_text {
      display: flex;
      flex-direction: column;
      margin: 50px 15px;
      h2 {
        margin: 0 auto;
      }
      p {
        margin: 10px 0;
      }
    }
    .imgTissusContainer {
      grid-area: 2/1/3/3;
      margin: 25px auto;
      display: flex;
      flex-wrap: wrap;
      .imgTissus {
        border: 2px solid black;
        background: green;
        width: 50px;
        height: 50px;
        margin: 5px;
        cursor: zoom-in;
        transition: 0.3s ease-in-out;
      }
      .zoom {
        &::after {
          content: "\2716";
          position: absolute;
          top: -4px;
          height: 10px;
          width: 10px;
        }
        background: red;
      }
    }
    @media screen and (max-width: 650px) {
      display: block;
      border-top: 1px solid $color2;
      padding: 50px 0 0 0;
    }
  }

  .Item1_container {
    grid-template-columns: 30% 70%;
    .Item1_text {
      li {
        margin-left: 40px;
        list-style: "- ";
      }
    }
  }
  .Item2_container {
    grid-template-columns: 70% 30%;
    grid-template-areas: "tx im";
    border-top: 1px solid $color2;
    border-bottom: 1px solid $color2;
    .Item2_pics {
      grid-area: im;
    }
    @media screen and (max-width: 650px) {
      border-bottom: none;
    }
  }
  .Item3_container {
    grid-template-columns: 30% 70%;
    h4 {
      margin: 10px 0;
    }
  }
}
